.dashboard {
  position: relative;
  display: flex;
  min-height: calc(100vh - 50px);
  padding: 0;
  background: transparent;
}

.dashboard > div:nth-child(1) {
  position: sticky;
  top: 50px;
  align-self: flex-start;
  width: 20%;
  padding: 3.2rem 1.6rem 3.2rem;
  overflow-y: auto;
}

.dashboard > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 80%;
  border-left: 1px solid var(--primaryBorderColor);
  padding: 3.2rem 1.6rem 3.2rem 3.2rem;
}

.dashboardMenu {
  list-style: none;
}

.dashboardMenu li {
  padding: 1rem;
  margin: 0 0 0.2rem;
  border-radius: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.dashboardMenuActive,
.dashboardMenuActive:hover {
  background: var(--primaryColor);
  color: #fafafa;
}

.dashboardMenu li:not(.dashboardMenuActive):hover {
  background: rgba(var(--primaryColorRGB), 0.2);
}

.dashboardMenuActive a {
  color: #fafafa;
}

.dashboard h3 {
  font-size: 1.4em;
}

.dashboardBox {
  padding: 1.6rem;
  border-radius: 1rem;
  background: var(--background-main);
  box-shadow: 0px 0px 10px -6px #333;
}

.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.statistics div {
  text-align: center;
}

.statistics b {
  display: block;
  font-size: 1.4em;
  line-height: 2rem;
}

.statistics01 b {
  color: #2980b9;
}

.statistics02 b {
  color: #8e44ad;
}

.statistics03 b {
  color: #16a085;
}

.statistics04 b {
  color: #34495e;
}

.activeEnroll {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.activeEnroll div {
  text-align: center;
}
.activeEnroll h3 {
  width: 100%;
}
.activeEnroll b {
  display: block;
}

.table {
  width: 100%;
  margin: 1rem 0;
  border-collapse: collapse;
}

.table tr:nth-child(odd) {
  background: rgba(var(--primaryColorRGB), 0.1);
}

.table tr:not(:first-child):hover {
  cursor: pointer;
  background: rgba(var(--primaryColorRGB), 0.2);
}

.table th {
  padding: 0.5rem;
}

.table td {
  padding: 0.2rem 0.5rem;
}

.table tr td:nth-child(n + 3) {
  text-align: center;
}

.courseCover {
  width: 6rem;
  height: auto;
  margin: 0 1rem 0 0;
}

.inputImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22.4rem;
  height: 12.7rem;
  overflow: hidden;
  border-radius: 1rem;
  border: 1px solid var(--primaryBorderColor);
  cursor: pointer;
}
.inputImage input {
  display: none;
}
.inputImage img {
  width: 100%;
  height: auto;
}
.inputImage svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: auto;
  color: var(--primaryBorderColor);
}

.dashboardButtons {
  display: flex;
  justify-content: space-between;
  margin: 1.6rem 0;
}

.dashboardCategoriesRight span {
  color: #909090;
}

.dashboardCategoriesOrderButtons {
  display: flex;
  flex-direction: row;
  gap: 1.6rem;
  padding: 0 0 0 1.6rem;
}

.dashboardCategoriesOrderButtons svg {
  cursor: pointer;
}

.dashboardCategories
  > li:first-child
  > .dashboardCategoriesRight
  .moveCategoryUp,
.dashboardCategories
  > li:last-child
  > .dashboardCategoriesRight
  .moveCategoryDown,
.dashboardCategories
  > li
  li:first-child
  > .dashboardCategoriesRight
  .moveCategoryUp,
.dashboardCategories
  > li
  li:last-child
  > .dashboardCategoriesRight
  .moveCategoryDown {
  display: none;
}

.dashboardCategories {
  border: 1px solid var(--borderColorSecond);
}

.dashboardCategories li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem 1rem;
  list-style: none;
  border-bottom: 1px solid var(--borderColorSecond);
}

.dashboardCategories ul {
  width: 100%;
  margin: 1rem 0;
  border: 1px solid var(--borderColorSecond);
}

.dashboardCategories li {
  border-top: 1px solid var(--borderColorSecond);
  border-bottom: none;
}

.dashboardCategories li:first-child {
  border-top: none;
}

.dashboardCategories li[data-nested] {
  padding: 0.5rem 2rem;
}

.dashboardCategories li[data-nested='true']::before {
  content: '\25BA';
  padding: 0 1rem 0 0;
}

.dashboardCategories li[data-nested] .dashboardCategoriesLeft {
  margin-right: auto;
}

.dashboardCategories li a {
  margin: 0 1rem;
}

.dashboardCategoriesLeft,
.dashboardCategoriesRight {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboardCategoriesLeft span {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  margin: 0 1.6rem;
  color: #909090;
}
