:root {
	--max-width: 1100px;
	--padding: 1.6rem;
	--border-radius: 1.2rem;
	--primaryBorderColor: #cccccc;
	--borderColorSecond: #dddddd;
	--background: #efefef;
	--background-main: #ffffff;
	--backgroundMainRGB: 255, 255, 255;
	--primaryColor: #97377c;
	--primaryColorRGB: 151, 55, 124;
	--bodyTextColorBlack: #000000;
	--bodyTextColorWhite: #ffffff;
	--bodyTextColorPrimary: #343434;
	--bodyTextColorSecond: #4c4c4c;
	--progressBar: #d9f7d9;
	--progressValue: #7bed9f;
	--checkBoxOn: #7bed9f;
	--checkBoxOff: #e9e9e9;
	--internacional: #ffb800;
	--economia: #3dbc9e;
	--esporte: #ff5c00;
	--politica: #3d4953;
}

@media (max-width: 1367px) {
	:root {
		--max-width: 1280px;
	}
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
	font-family: 'gg sans', sans-serif;
}

html {
	width: 100%;
	height: 100%;
	background: var(--background);
	font-size: 62.5%;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: light;
	}
}

body {
	width: 100%;
	min-height: 100%;
	font-size: 2rem;
	text-rendering: optimizeLegibility;
	cursor: default;
	color: var(--bodyTextColorPrimary);
}

main {
	width: 100%;
	max-width: var(--max-width);
	min-height: calc(100vh - 81px);
	background: var(--background-main);
	padding: calc(var(--padding) * 2);
	padding-top: 3.2rem;
	margin: auto;
}

hr {
	border: none;
	height: 1px;
	background: var(--primaryBorderColor);
	margin: 2rem 0;
}

a {
	position: relative;
	text-decoration: none;
	font-size: 2rem;
	color: var(--bodyTextColorPrimary);
}

progress {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 1rem;
	accent-color: var(--progressValue);
	color: var(--progressValue);
	background: var(--progressBar);
	border-radius: 1rem;
	border: none;
	overflow: hidden;
}
progress::-webkit-progress-bar {
	background: var(--progressBar);
	border-radius: 1rem;
}
progress::-webkit-progress-value {
	background: var(--progressValue);
	border-radius: 1rem;
}
progress::-moz-progress-bar {
	background: var(--progressValue);
	border-radius: 1rem;
}

input {
	-webkit-appearance: none;
	appearance: none;
	padding: 0.6rem 1rem;
	border-radius: 1rem;
	border: 1px solid var(--primaryBorderColor);
	font-size: 2rem;
}
input[type='checkbox'] {
	display: inline-block;
	position: relative;
	cursor: pointer;
	padding: 0;
	width: 2rem;
	height: 2rem;
	vertical-align: top;
	border-radius: 1rem;
	overflow: hidden;
}
input[type='checkbox']:before {
	content: '';
	display: block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0;
	left: 0;
	background: var(--checkBoxOff);
	border-radius: 1rem;
}
input[type='checkbox']:checked:before {
	content: '';
	display: block;
	position: absolute;
	width: 2rem;
	height: 2rem;
	top: 0;
	left: 0;
	background: var(--checkBoxOn);
}
input[type='checkbox']:checked:after {
	content: '';
	display: block;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	left: 7px;
}

select {
	outline: none;
	padding: 0.6rem 1rem;
	border-radius: 1rem;
	border: 1px solid var(--primaryBorderColor);
	font-size: 2rem;
}
select:hover {
	outline: none;
}

button {
	-webkit-appearance: none;
	appearance: none;
	border: none;
	cursor: pointer;
	font-size: 2rem;
}

textarea {
	-webkit-appearance: none;
	appearance: none;
	padding: 0.6rem 1rem;
	border-radius: 1rem;
	border: 1px solid var(--primaryBorderColor);
	resize: none;
	width: 100%;
	font-size: 2rem;
}

.buttonPrimary {
	display: inline-block;
	padding: 0.7rem 1.6rem;
	border-radius: 4rem;
	background: var(--primaryColor);
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	color: #fafafa;
	font-weight: 500;
}
.buttonPrimary:hover {
	color: #fafafa;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

img[data-loaded='false'] {
	opacity: 0;
}
img[loaded='true'] {
	opacity: 1;
	transition: opacity linear 0.2s;
	transition-delay: 0.1s;
}

svg {
	display: inline-table;
	width: 2rem;
	height: auto;
	fill: currentColor;
}
svg {
	display: inline-table;
	width: 2rem;
	height: auto;
	fill: currentColor;
}
path[stroke='#000'] {
	stroke: currentColor;
}

.noselect {
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

.required {
	color: #bf0000;
	font-weight: 900;
	vertical-align: sub;
	font-size: 2rem;
}

.topZindex {
	z-index: 100;
}

.padding16 {
	padding: 0 0 1.6rem;
}

.padding32 {
	padding: 0 0 3.2rem;
}

.padding64 {
	padding: 0 0 6.4rem;
}

.quill .ql-editor p {
	margin: 0 0 2rem;
}

span[data-category='internacional'],
.hm[data-category='internacional']::after {
	background: var(--internacional);
}
span[data-category='economia'],
.hm[data-category='economia']::after {
	background: var(--economia);
}
span[data-category='esporte'],
.hm[data-category='esporte']::after {
	background: var(--esporte);
}
span[data-category='politica'],
.hm[data-category='politica']::after {
	background: var(--politica);
}

h2[data-category='internacional'] {
	color: var(--internacional);
}
h2[data-category='economia'] {
	color: var(--economia);
}
h2[data-category='esporte'] {
	color: var(--esporte);
}
h2[data-category='politica'] {
	color: var(--politica);
}

@media (max-width: 560px) {
	main {
		padding: var(--padding);
	}
}
