.highlights {
	display: flex;
	gap: 1.6rem;
}
.highlights h3 {
	padding: 1.6rem;
	color: var(--bodyTextColorWhite);
}
.highlights .hone {
	display: flex;
	width: 55%;
}
.highlights .content {
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.highlights .category {
	display: inline-block;
	padding: 0.5rem;
	text-transform: uppercase;
	font-size: 1.6rem;
	font-weight: 600;
	color: #fafafa;
}
.highlights .hone .honec {
	position: relative;
	display: flex;
	height: 100%;
	overflow: hidden;
}
.highlights .hone .honec::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	display: block;
	position: absolute;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%);
}
.highlights .hone .honec img {
	position: relative;
	left: -25%;
	width: auto;
	height: 100%;
	transition: transform 0.2s linear;
}
.highlights .hone .honec:hover img {
	transform: scale(1.05);
}
.highlights .htow {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.6rem;
}
.highlights .htow .htowc {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
}
.highlights .htow .htowc::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	display: block;
	position: absolute;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%);
}
.highlights .htow .htowc img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	transition: transform 0.2s linear;
}
.highlights .htow .htowc:hover img {
	transform: scale(1.05);
}

@media (max-width: 993px) {
	.highlights {
		flex-direction: column;
	}
	.highlights .hone {
		width: 100%;
	}
	.highlights .htow {
		width: 100%;
	}
	.highlights .hone .honec {
		width: 100%;
		height: auto;
	}
	.highlights .hone .honec img {
		width: 100%;
		left: 0;
	}
	.highlights .hone .honec:hover img,
	.highlights .htow .htowc:hover img {
		transform: scale(1);
	}
}
