.highlights {
	display: flex;
	gap: 1.6rem;
}
.highlights h3 {
	padding: 1.6rem;
	color: var(--bodyTextColorWhite);
}
.highlights .hone {
	display: flex;
	width: 55%;
}
.highlights .hone h3 {
	font-size: 3rem;
}
.highlights .content {
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.highlights .category {
	display: inline-block;
	padding: 0.5rem;
	text-transform: uppercase;
	font-size: 1.6rem;
	color: #fafafa;
}
.highlights .hone .honec {
	position: relative;
	display: flex;
	height: 100%;
	border-radius: 1.6rem;
	overflow: hidden;
}
.highlights .hone .honec::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	display: block;
	position: absolute;
	border-radius: 4px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%);
}
.highlights .hone .honec img {
	position: relative;
	left: -25%;
	width: auto;
	height: 100%;
}
.highlights .htow {
	width: 45%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.6rem;
}
.highlights .htow .htowc {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	border-radius: 1.6rem;
}
.highlights .htow .htowc::after {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	content: '';
	display: block;
	position: absolute;
	border-radius: 4px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, #000 100%);
}
.highlights .htow .htowc img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
}

@media (max-width: 993px) {
	.highlights .hone {
		width: 50%;
	}
	.highlights .htow {
		width: 50%;
	}
}

@media (max-width: 910px) {
	.highlights {
		flex-direction: column;
	}
	.highlights .hone {
		width: 100%;
	}
	.highlights .htow {
		width: 100%;
	}
	.highlights .hone .honec {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%;
	}
	.highlights .hone .honec img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: auto;
	}
}

@media (max-width: 560px) {
	.highlights .content {
		position: relative;
		bottom: inherit;
	}
	.highlights h3 {
		padding: 0 0 1.6rem;
		color: var(--bodyTextColorBlack);
	}
	.highlights .hone .honec {
		flex-direction: column;
		height: auto;
		border-radius: 0;
		border-bottom-left-radius: 1.6rem;
		border-bottom-right-radius: 1.6rem;
		padding: 0 0 1.6rem;
	}
	.highlights .hone .honec::after {
		display: none;
	}
	.highlights .hone .honec img {
		position: relative;
		left: 0;
		width: 100%;
		height: auto;
		border-radius: 1.6rem;
	}

	.highlights .htow .htowc {
		flex-direction: column;
		height: auto;
		border-radius: 0;
		padding: 0 0 1.6rem;
	}
	.highlights .htow .htowc::after {
		display: none;
	}
	.highlights .htow .htowc img {
		position: relative;
		left: 0;
		width: 100%;
		height: auto;
		border-radius: 1.6rem;
	}
}
